@model Compactor.Models.Domain.Reservation

@{
    Layout = null;
}

<h2>Potwierdź rezerwację:</h2>

<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>

</div>

<hr />

@Html.Partial("_ConfirmPositions", Model.ReservationPositions)

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
