@model Compactor.Models.ViewModel.InitialViewModel
@{
    ViewBag.Title = "Zarezerwuj";
}

<h1 class="mb-3">@ViewBag.Title</h1>
<hr />

<div class="row">
    @if (Model.Information != null)
    {
        <p class="alert alert-info mt-1 mb-3">
            <strong>@Model.Information</strong>  
        </p>
    }
    @Html.Partial("_Reservation", Model.ReservationVM)
</div>

<div class="row">
    <div class="col-sm-12 col-lg-5">

        @Html.Partial("_RenderType", Model.GroupList)

    </div>

    <div class=" col-lg-2"></div>

    <div class="col-sm-12 col-lg-5">

        <div id="reservationPosition">

            @Html.Partial("_ReservationPositions", Model.ReservationVM.Reservation.ReservationPositions)

        </div>

    </div>

</div>
