@model IEnumerable<Compactor.Models.Domain.Reservation>
@{
    ViewBag.Title = "Lista rezerwacji";
}

@helper ShowReservations(IEnumerable<Compactor.Models.Domain.Reservation> list, bool activMode)
{
    int elements = 0;
    foreach (var item in list)
    {
        if (item.IsActiv != activMode)
        {
            elements++;
        }
    }
    if (elements == list.Count())
    {
        return;
    }

    if (activMode == true)
    {
        <h4>Aktywne rezerwacje:</h4>
    }
    else
    {
        <h4>Zamknięte rezerwacje: </h4>
    }

    <body>

        <table class="table table-bordered table-hover mt-3 mb-5">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserData.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserData.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserData.Address)
                </th>
            </tr>

            @foreach (var item in list)
            {
                if (item.IsActiv != activMode)
                {
                    continue;
                }
                <tr>
                    <td>
                        <a class="font-weight-bold"
                           href="@Url.Action("Reservation", "Home",
                                new { id =item.ID })">
                            @item.Title
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserData.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserData.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserData.Address.Street)
                        @Html.DisplayFor(modelItem => item.UserData.Address.Number)
                        <br />
                        @Html.DisplayFor(modelItem => item.UserData.Address.City)
                        <br />
                        @Html.DisplayFor(modelItem => item.UserData.Address.PostalCode)
                    </td>
                </tr>
            }

        </table>
    </body>
}
<h2 class="mb-3">@ViewBag.Title</h2>
<hr />

@if (Model != null && Model.Count() > 0)
{
    @ShowReservations(Model, true);
    @ShowReservations(Model, false);
}
else { 
<h4>Nie masz jeszcze żadnej rezerwacji.</h4>
}
