@model IEnumerable<Compactor.Models.Domain.Reservation>
@{
    ViewBag.Title = "Rezerwacje";
}

<h1>Historia rezerwacji</h1>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Numer rezerwacji</th>
                <th scope="col">Wypożyczający</th>
                <th scope="col">Data wypożyczenia</th>
                <th scope="col">Data zwrotu</th>
                <th scope="col">Koszt</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.Title</td>
                    <td>@reservation.UserData.Name</td>
                    <td>@reservation.RentDate.ToString("dd/MM/yy HH:mm")</td>
                    <td>@reservation.ReturnDate.ToString("dd/MM/yy HH:mm")</td>
                    <td>@reservation.Value zł</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Nie masz jeszcze żadnej rezerwacji
    </div>
}


